<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/onsenui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/onsen-css-components.min.css') }}">
    <script src="{{ url_for('static', filename= 'js/onsenui.min.js') }}"></script>
	<script src="{{ url_for('static', filename= 'js/app.js') }}"></script>
    <title>cias</title>
</head>
<body>
	<ons-page>
	  <ons-toolbar>
		<div class="center">Upstairs</div>
	  </ons-toolbar>

	  <ons-tabbar swipeable position="auto">
		<ons-tab page="upstairs.html" label="Upstairs" icon="md-tv" active-icon="md-tv-play" active>
		</ons-tab>
		<ons-tab page="basement.html" label="Basement" icon="md-tv" active-icon="md-tv-play">
		</ons-tab>
	  </ons-tabbar>
	</ons-page>

	<template id="upstairs.html">
	  <ons-page id="Upstairs">
		<ons-list>
			<ons-list-header>Upstairs Crestron Controller</ons-list-header>
			<ons-list-item tappable onclick="sendCommand(1, 'route', 1); showCmdDialog()">
			  <div class="left">
				<img class="list-item__thumbnail" src="{{ url_for('static', filename= 'img/hdmi-port.jpg') }}">
			  </div>
			  <div class="center">
				<span class="list-item__title">Chromecast</span><span class="list-item__subtitle">Input 1</span>
			  </div>
			</ons-list-item>
			<ons-list-item tappable onclick="sendCommand(1, 'route', 2); showCmdDialog()">
			  <div class="left">
				<img class="list-item__thumbnail" src="{{ url_for('static', filename= 'img/hdmi-port.jpg') }}">
			  </div>
			  <div class="center">
				<span class="list-item__title">Nintendo Switch</span><span class="list-item__subtitle">Input 2</span>
			  </div>
			</ons-list-item>
			<ons-list-item tappable onclick="sendCommand(1, 'route', 3); showCmdDialog()">
			  <div class="left">
				<img class="list-item__thumbnail" src="{{ url_for('static', filename= 'img/hdmi-port.jpg') }}">
			  </div>
			  <div class="center">
				<span class="list-item__title">Mac Mini</span><span class="list-item__subtitle">Input 3</span>
			  </div>
			</ons-list-item>
			<ons-list-item tappable onclick="sendCommand(1, 'route', 4); showCmdDialog()">
			  <div class="left">
				<img class="list-item__thumbnail" src="{{ url_for('static', filename= 'img/hdmi-port.jpg') }}">
			  </div>
			  <div class="center">
				<span class="list-item__title">Aux 1</span><span class="list-item__subtitle">Input 4</span>
			  </div>
			</ons-list-item>
			<ons-list-item expandable>
      			<div class="left">
        			<ons-icon icon="md-settings" class="list-item__icon"></ons-icon>
      			</div>
				<div class="center">
					<span class="list-item__title">Tools</span><span class="list-item__subtitle">Dev tools</span>
			  	</div>
				<div class="expandable-content">
					<ons-list-item tappable onclick="sendCommand(1, 'lcdtest', 0); showCmdDialog()">
					  <div class="left">
						<ons-icon icon="md-gradient" class="list-item__icon"></ons-icon>
					  </div>
					  <div class="center">
						<span class="list-item__title">LCD Display test</span>
						  <span class="list-item__subtitle">ASCII table</span>
					  </div>
					</ons-list-item>
				</div>
    		</ons-list-item>
		</ons-list>
	  </ons-page>
	</template>

	<template id="basement.html">
	  <ons-page id="Basement">
		<ons-list>
			<ons-list-header>Basement Crestron Controller</ons-list-header>
			<ons-list-item tappable onclick="sendCommand(2, 'route', 1); showCmdDialog()">
			  <div class="left">
				<img class="list-item__thumbnail" src="{{ url_for('static', filename= 'img/hdmi-port.jpg') }}">
			  </div>
			  <div class="center">
				<span class="list-item__title">Chromecast</span><span class="list-item__subtitle">Input 1</span>
			  </div>
			</ons-list-item>
			<ons-list-item tappable onclick="sendCommand(2, 'route', 2); showCmdDialog()">
			  <div class="left">
				<img class="list-item__thumbnail" src="{{ url_for('static', filename= 'img/hdmi-port.jpg') }}">
			  </div>
			  <div class="center">
				<span class="list-item__title">Nintendo Switch</span><span class="list-item__subtitle">Input 2</span>
			  </div>
			</ons-list-item>
			<ons-list-item tappable onclick="sendCommand(2, 'route', 3); showCmdDialog()">
			  <div class="left">
				<img class="list-item__thumbnail" src="{{ url_for('static', filename= 'img/hdmi-port.jpg') }}">
			  </div>
			  <div class="center">
				<span class="list-item__title">Aux 1</span><span class="list-item__subtitle">Input 3</span>
			  </div>
			</ons-list-item>
			<ons-list-item tappable onclick="sendCommand(2, 'route', 4); showCmdDialog()">
			  <div class="left">
				<img class="list-item__thumbnail" src="{{ url_for('static', filename= 'img/hdmi-port.jpg') }}">
			  </div>
			  <div class="center">
				<span class="list-item__title">Aux 2</span><span class="list-item__subtitle">Input 4</span>
			  </div>
			</ons-list-item>
			<ons-list-item expandable>
      			<div class="left">
        			<ons-icon icon="md-settings" class="list-item__icon"></ons-icon>
      			</div>
				<div class="center">
					<span class="list-item__title">Tools</span><span class="list-item__subtitle">Dev tools</span>
			  	</div>
				<div class="expandable-content">
					<ons-list-item tappable onclick="sendCommand(2, 'lcdtest', 0); showCmdDialog()">
					  <div class="left">
						<ons-icon icon="md-gradient" class="list-item__icon"></ons-icon>
					  </div>
					  <div class="center">
						<span class="list-item__title">LCD Display test</span>
						  <span class="list-item__subtitle">ASCII table</span>
					  </div>
					</ons-list-item>
				</div>
    		</ons-list-item>
		</ons-list>
	  </ons-page>
	</template>

	<template id="dialog.html">
	  <ons-dialog id="command-sent">
		<div style="text-align: center; padding: 10px;">
		  <p>
			Issued command to devices.
		  </p>

		  <p>
			<ons-button onclick="hideDialog('command-sent')">Close</ons-button>
		  </p>
		</div>
	  </ons-dialog>
	</template>
</body>
</html>